<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!--HEAD CON FRAGMENT, para evitar repetir los mismos enlaces en todos los templates-->
<head th:replace="~{fragments/head :: head}"></head>


<body class="background">
	<!--background="" th:src="@{../sttic/images/eco-bg-2.jpg}" alt="Background eco"-->


<div class="container min-vh-100 d-flex justify-content-center align-items-center">

    <div class="col-md-5 col-lg-4">

        <div class="card shadow border-0 rounded-4">

            <div class="card-body p-4">

                <div class="text-center mb-4">
                    <i class="bi bi-leaf-fill text-success fs-1"></i>
                    <h2 class="fw-bold mt-2">EcoShop</h2>
                    <p class="text-muted mb-0"> !Bienvendo!</p>
                </div>

                <!-- login error -->
                <div th:if="${param.error}" class="alert alert-danger text-center">Nombre de usuario o contraseña incorrecta</div>
                <!-- logout -->
                <div th:if="${param.logout}" class="alert alert-success text-center"> Sesión cerrada correctamente</div>

                <form method="post" th:action="@{/login}" class="needs-validation" novalidate>

                    <div class="mb-3">
                        <label class="form-label"> Nombre de usuario </label>

                        <div class="input-group">
                            <span class="input-group-text"> <i class="bi bi-person"></i></span>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Contraseña</label>

                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                    </div>

                    <button class="btn btn-success w-100 rounded-3">
                        <i class="bi bi-box-arrow-in-right"></i>Acceder
                    </button>
					
					

                </form>
				
				<button class="btn btn-secondary w-100 rounded-3 mt-2">
					<a th:href="@{/register}">¿No tienes cuenta? Regístrate</a>
				</button>
				
				<button class="btn btn-secondary w-100 rounded-3 mt-2">
					<a th:href="@{/products/list}">Volver a la lista</a>
				</button>

            </div>

        </div>

    </div>

</div>

</body>
</html>