<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!--HEAD CON FRAGMENT, para evitar repetir los mismos enlaces en todos los templates-->
<head th:replace="~{fragments/head :: head}"></head>


<body class="d-flex flex-column min-vh-100"><!--falta ipmlementar todos los estilos-->

	<div th:replace="~{fragments/navbar :: navbar}"></div>
	
	<div class="container mt-5">

	    <h1>Order Form</h1>
	    <form th:action="@{/orders/new/submit}" th:object="${order}" method="post" class="needs-validation" novalidate>

	        <input type="hidden" th:field="*{id}">

			<!--
	        <div class="mb-3">
	            <label>Code</label>
	            <input type="text" th:field="*{code}" class="form-control" maxlength="20" min="3" max="15" required>
	        </div>
			<div class="invalid-feedback"><span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span></div>
			-->

			
	        <div class="mb-3">
	            <label>Fecha</label>
	            <input type="date" th:field="*{shippingDate}" th:value="${order.shippingDate}" class="form-control" maxlength="10" required>
	        </div>
			<div class="invalid-feedback"><span th:if="${#fields.hasErrors('shippingDate')}" th:errors="*{shippingDate}"></span></div>

			
	        <div class="mb-3">
	            <label>Total</label>
	            <input type="number" step="0.01" th:field="*{total}" h:value="${#numbers.formatDecimal(order.total, 1, 2)}" class="form-control" maxlength="6" min="0.1" max="999.99">
	        </div>
			<div class="invalid-feedback"><span th:if="${#fields.hasErrors('total')}" th:errors="*{total}"></span></div>

			
			<div class="mb-3">
			    <label sec:authorize="hasRole('ADMIN')">Cliente</label>
			    <!--ADMIN-->
			    <div th:if="${isAdmin}">
			        <select th:field="*{customer}" class="form-select">
			            <option value="">Seleccione cliente</option>
			            <option
			                    th:each="customer : ${customers}"
			                    th:value="${customer.id}"
			                    th:text="${customer.name}">
			            </option>
			        </select>
			    </div>
			    <!--USER&VIP-->
				<div th:unless="${isAdmin}">
				    <input
				            type="hidden"
				            th:field="*{customer.id}"
				            th:value="${customers[0].id}" />
				</div>
			</div>

			<!--<input type="hidden" th:field="*{id}">-->
	        <button type="submit" class="btn btn-success">Guardar</button>
	        <a th:href="@{/orders/list}" class="btn btn-secondary">Cancelar</a>

	    </form>
	</div>

	<div th:replace="~{fragments/user-modal :: userModal}"></div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
	
	</body>
	</html>