<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!--HEAD CON FRAGMENT, para evitar repetir los mismos enlaces en todos los templates-->
<head th:replace="~{fragments/head :: head}"></head>


<body class="d-flex flex-column min-vh-100"><!--falta ipmlementar todos los estilos-->

	<div th:replace="~{fragments/navbar :: navbar}"></div>
	
	<div class="container mt-5">

	    <div class="d-flex justify-content-between mb-4">
	        <h1>Order List</h1>
	        <a th:href="@{/orders/new}" class="btn btn-success">New order</a><!--sec:authorize="hasAnyRole(['ADMIN', 'USER', 'VIP'])-->
	    </div>

	    <table class="table table-bordered">
	        <thead class="table-dark">
	        <tr>
	            <!--<th>ID</th>-->
	            <th>Code</th>
	            <th>Date</th>
	            <th>Total (€)</th>
	            <th sec:authorize="hasRole('ADMIN')">Customer</th>
	            <th sec:authorize="hasRole('ADMIN')">Actions</th>
	        </tr>
	        </thead>

			
	        <tbody>
	        <tr th:each="order : ${orders}">
				<!--<td th:text="${order.id}"></td>-->
	            <td th:text="${order.code}"></td>
	            <td th:text="${order.shippingDate}"></td>
	            <td th:text="${order.total}"></td>
	            <td sec:authorize="hasRole('ADMIN')" th:text="${order.customer.name}"></td>
				
	            <td sec:authorize="hasRole('ADMIN')">
	                <a th:href="@{/orders/edit/{id}(id=${order.id})}" class="btn btn-warning btn-sm">Edit</a>
	                <a th:href="@{/orders/delete/{id}(id=${order.id})}" class="btn btn-danger btn-sm delete-btn" data-confirm="¿Delete product?">Delete</a><!--con js porque Rafa no quiere onclick ;V-->
	            </td>
	        </tr>
	        </tbody>

			
	    </table>

	</div>
	
	<div th:replace="~{fragments/user-modal :: userModal}"></div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
	
</body>
</html>