<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!--HEAD CON FRAGMENT, para evitar repetir los mismos enlaces en todos los templates-->
<head th:replace="~{fragments/head :: head}"></head>


<body class="d-flex flex-column min-vh-100"><!--falta ipmlementar todos los estilos-->

	<div th:replace="~{fragments/navbar :: navbar}"></div>
	
    <div class="container mt-5">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>List of products</h1>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/new}" class="btn btn-success">New product </a>
        </div>


        <table class="table table-bordered table-hover">

            <thead class="table-dark">
				<tr>
					<th>ID</th>
				    <th>Name</th>
				    <th>Price</th>
				    <th>Stock</th>
				    <th>Origin</th>
				    <th>Description</th>
				    <th>EcoCertificate</th>
				    <th sec:authorize="hasRole('ADMIN')">Actions</th>
				</tr>
            </thead>

            <tbody>

                <tr th:each="product : ${products}">

                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.stock}"></td>
                    <td th:text="${product.origin}"></td>
                    <td th:text="${product.description}"></td>
                    <td>
                        <span th:if="${product.ecoCertificate}" class="badge bg-success">Yes</span>
                        <span th:unless="${product.ecoCertificate}" class="badge bg-danger">No</span>
                    </td>

                    <!--para el futuro edit button de la siguiente feature-->
                    <td sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm delete-btn" data-confirm="¿Delete product?">Delete</a><!--con js porque Rafa no quiere onclick ;V-->
                    </td>

                </tr>

            </tbody>

        </table>


    </div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>