<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="~{fragments/head :: head}"></div>
	
<body>		
			
	<div th:fragment="sidebar">
	
	    <div class="card shadow-sm position-sticky">
	
	        <div class="card-header bg-secondary text-light">
	            Categorías
	        </div>
	
	        <div class="list-group list-group-flush">
	
	            <a th:href="@{/products/list}"
	                class="list-group-item list-group-item-action">Todos
	            </a>
	
	            <a th:each="c : ${categories}"
	                th:href="@{/products/category/{id}(id=${c.id})}"
	                th:text="${c.name}"
	                class="list-group-item list-group-item-action">
	            </a>
	
	        </div>
	
	    </div>
	
	</div>

</body>
</html>
