body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}


/* Titles */
h1, h2, h3, h4, h5 {
    font-weight: 600;
}


/* Tables */
.table {
    border-radius: 12px;
    overflow: hidden;
}


/* Cards */
.card {
    border: none;
    border-radius: 16px;
}


/* Buttons */
.btn {
    border-radius: 10px;
}


/* Navbar */
.navbar-brand {
    letter-spacing: 0.5px;
}

/* Footer */
footer a:hover {
    color: #198754 !important;
    transition: 0.2s;
}

/* Background image */
.background {
    background-image: url('/images/backgrounds/eco-bg-2.jpg');
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    min-height: 100vh;            
}

.card-image{
	height:200px; 
	object-fit:cover;
}