body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}


/* Titles */
h1, h2, h3, h4, h5 {
    font-weight: 600;
}


/* Tables */
.table {
    border-radius: 12px;
    overflow: hidden;
}


/* Cards 
.card {
    border: none;
    border-radius: 16px;
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}*/


/* Buttons */
.btn {
    border-radius: 10px;
}


/* Navbar */
.navbar-brand {
    letter-spacing: 0.5px;
}

/* Footer */
footer a:hover {
    color: #198754 !important;
    transition: 0.2s;  
}

/* Background image */
.background {
    background-image: url('/images/backgrounds/eco-bg-2.jpg');
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    min-height: 100vh;            
}

/* Images card /products/list */
.card-image{
	height:200px; 
	object-fit:cover;
}

a{
	text-decoration: none;
	color: white;
}



/* REGISTER HTML */
.register-bg {
	background-image: url('/images/backgrounds/eco-bg-2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}
		
.login-container {
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 15px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


/*product cards*/
/* Hover effect for product cards */
.product-card {
    transition: all 0.35s;
    border: none;
    border-radius: 16px;
    overflow: hidden;
}
.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}


.product-card img {
    transition: transform 0.4s ease;
}
.product-card:hover img {
    transform: scale(1.08);
}



/*sidebar*/
.sidebar-sticky {
    position: sticky;
    top: 100px;
    height: fit-content;
}
