body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebe2db;
}


/* Titles */
h1, h2, h3, h4, h5 {
    font-weight: 600;
}


/* Tables */
.table {
    border-radius: 12px;
    overflow: hidden;
}


/* Cards 
.card {
    border: none;
    border-radius: 16px;
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}*/


/* Buttons */
.btn {
    border-radius: 10px;
}


/* Navbar */
.navbar-brand {
    letter-spacing: 0.5px;
}

/* Footer */
footer a:hover {
    color: #198754 !important;
    transition: 0.2s;  
}

/* Background image */
.background {
    background-image: url('/images/backgrounds/eco-bg-2.jpg');
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    min-height: 100vh;            
}

/* Images card /products/list */
.card-image{
	height:200px; 
	object-fit:cover;
}

a{
	text-decoration: none;
	color: white;
}



/* REGISTER HTML */
.register-bg {
	background-image: url('/images/backgrounds/eco-bg-2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}
		
.login-container {
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 15px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


/*product cards*/
/* Hover effect for product cards */
.product-card {
    transition: all 0.35s;
    border: none;
    border-radius: 16px;
    overflow: hidden;
}
.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}


.product-card img {
    transition: transform 0.4s ease;
}
.product-card:hover img {
    transform: scale(1.08);
}

/*para los botones que tiene de más el admin para los cruds, pero en formato móvil*/
@media (max-width: 576px) {
    .product-card .d-flex.gap-2.mt-auto {
        flex-wrap: wrap;
    }
    .product-card .d-flex.gap-2.mt-auto > * {
        flex: 1 1 100%;
    }
}

/*sidebar*/
.sidebar-sticky {
    position: sticky;
    top: 100px;
    height: fit-content;
}

/*en formato móvil no es sticky, se pierde al hacer scroll*/
@media (max-width: 767px) {
    .sidebar-sticky {
        position: static;
        top: auto;
        margin-bottom: 1rem;
    }
}

/*textarea limitado*/
.limited-textarea {
    resize: vertical;
    max-height: 210px;
}

.price-c {
    color:#FFB07C;
    font-weight: bold;
    font-size: 1.1rem; /*para destacar algo más*/
}



/*para la imagen de los detalles de los productos*/
.img-detail {
	max-height: 420px; 
	object-fit: contain;
}

.card-actions {
    position: relative;
    z-index: 2;
}