<!--<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


//HEAD CON FRAGMENT, para evitar repetir los mismos enlaces en todos los templates
<head th:replace="~{fragments/head :: head}"></head>


<body class="d-flex flex-column min-vh-100">//falta ipmlementar todos los estilos

	<div th:replace="~{fragments/navbar :: navbar}"></div>
	
	<div class="container mt-5">

	    W.I.P.

	</div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
	
</body>
</html>

de momento inútil dado que no aporta nada diff de /products/list, por ende, se podría implementar como mejora de tal forma que /home o / tenga algo distinto 
a lo que se aprecia en /products/list, como por ejemplo los más vendidos, últimos añadidos, ofertas, poco stock, etc -.-.-> lógica de negocio
-->